@import '../css/common.css';

.header-container {
    justify-content: center;
}

.logo-container {
    width: 248px;
    margin-top: 64px;
    height: 72px;
    align-items: center;
}

.logo-image {
    width: 72px;
    height: 72px;
}

.connection-image {
    width: 24px;
    height: 24px;
    margin-left: 40px;
    margin-right: 40px;
}
